<div class="container container--big">
  Big container
  {{example-box}}
</div>

<div class="container container--medium">
  Medium sized container
  {{example-box}}
</div>

<div class="container container--small">
  Small container
  {{example-box}}
</div>

{{outlet}}
